/vendor/
node_modules/
npm-debug.log
yarn-error.log
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/public/hot
/public/storage
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
/storage/debugbar/
*~
.DS_Store
.idea
.vscode
Homestead.json
Homestead.yaml
auth.json
*INSTRUCCIONES BACKEND*